In [1]:
#Assignments 
#-----------Assignment 4b-------------------------

In [2]:
# 1. Create a 10 variables with your friend names?

In [178]:
friend1="ruchitha"
friend1

'ruchitha'

In [180]:
friend2="Santhosh"
friend2

'Santhosh'

In [182]:
friend3="Durga"
friend3

'Durga'

In [184]:
friend4="Nasheena"
friend4

'Nasheena'

In [186]:
# 2. Create a 10 variables with your family member names?
familymember1="Janardhanrao"
familmember2="Lakshmi"
familymember3="Mounika"
familymember4="Prasad"

In [188]:
familymember1

'Janardhanrao'

In [190]:
familmember2

'Lakshmi'

In [192]:
familymember3

'Mounika'

In [194]:
familymember4

'Prasad'

In [198]:
# 3. Create a 10 variables with favorite food names?
fav1="potato"
fav2="chicken"
fav3="Fiash"

In [200]:
fav1

'potato'

In [202]:
fav2

'chicken'

In [204]:
fav3

'Fiash'

In [206]:
# 4. Create a 10 variables with colour  names?
colour1="REd"
colour2="Blue"
colour3="Green"

In [208]:
colour1

'REd'

In [210]:
colour2

'Blue'

In [212]:
colour3

'Green'

In [214]:
# 5. Create a 12 variables with month  names?
month1="January"
month2="February"
month3="March"
month4="April"

In [216]:
month1

'January'

In [218]:
month2

'February'

In [220]:
month3

'March'

In [222]:
month4

'April'

In [224]:
# 6. Create a 10 variables with game  names?
game1="Cricket"
game2="Hockey"
game3="Volleyball"

In [226]:
game1

'Cricket'

In [228]:
game2

'Hockey'

In [230]:
game3

'Volleyball'

In [232]:
# 7. Create a 10 variables with city  names?
city1="Pamarru"
city2="Guduru"
city3="MTM"

In [234]:
city1

'Pamarru'

In [236]:
city2

'Guduru'

In [238]:
city3

'MTM'

In [3]:
#-----------list------------
friends_names=["ruchitha","geetha","hareesh","supraja","sai","lakshmi","divya","krupa","rajini","swarna"]
friends_names

['ruchitha',
 'geetha',
 'hareesh',
 'supraja',
 'sai',
 'lakshmi',
 'divya',
 'krupa',
 'rajini',
 'swarna']

In [4]:
#------tuple------
family_members=("Janardhnarao","Lakshmi","Mounika","Jayasri","Devivaraprasad","Rajasekhar","Balakrishna","Rakesh","Rangamma","Bhanu")
family_members

('Janardhnarao',
 'Lakshmi',
 'Mounika',
 'Jayasri',
 'Devivaraprasad',
 'Rajasekhar',
 'Balakrishna',
 'Rakesh',
 'Rangamma',
 'Bhanu')

In [5]:
#------set------
colour={"red","blue","green","yellow","red","black","brown","skyblue","pink","white","orange","white"}
colour

{'black',
 'blue',
 'brown',
 'green',
 'orange',
 'pink',
 'red',
 'skyblue',
 'white',
 'yellow'}

In [6]:
#---- month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?

In [7]:
month_names=[1,9,10,5,3,2,7,8,6,4]
sort= set(month_names)
sort

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
# tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"], write a program?
# expected output:tollywood_heros=["chiranjeevi", "balakrishan", "nagarjuna","venky","pawan kalyan","maheshbabu","NT rama rao","ramcharan"]

In [9]:
tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"]

In [10]:
tollywood_heros[0]='Chereenjeevi'
tollywood_heros[1]='balakrishan'
tollywood_heros[2]='nagarjuna'
tollywood_heros[3]='venkatesh'
tollywood_heros[4]='pavankalyan'
tollywood_heros[5]='maheshbabu'
tollywood_heros[6]='NT rama rao'
tollywood_heros[7]='ramcharan'

In [11]:
tollywood_heros

['Chereenjeevi',
 'balakrishan',
 'nagarjuna',
 'venkatesh',
 'pavankalyan',
 'maheshbabu',
 'NT rama rao',
 'ramcharan']

In [12]:
#bollywood_heros=["sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"], 
# write a program to remove duplicates?

In [13]:
bollywood_heros=["sharukkhan", "salmankhan", "salmankhan","amirkhan","HrithikRoshan","Amitabh Bachchan","Akshay Kumar","amirkhan"]
final=set(bollywood_heros)
final

{'Akshay Kumar',
 'Amitabh Bachchan',
 'HrithikRoshan',
 'amirkhan',
 'salmankhan',
 'sharukkhan'}

In [14]:
#--breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"], 
# print your favorite breakfast itme?
# example: My Favorite breakfast time is mysoor baji

In [15]:
breakfast_items=["upma","dosa","idly","puri","punugulu","roti","chapathi", "parota","mysoor baji","minapa baji"]

In [16]:
breakfast_items[-2]

'mysoor baji'

In [17]:
#---------Assignment 5 A-----------------

In [18]:
# Create a dict with your family members(at least 10 names)?
# expected output : { "family_members" : your family member details}

In [19]:
dict1={"family_members":["jayasri","mounika","prasad","janardhna rao","lakshmi","rajini","basavaiah","rakesh","rajasekhar","srinivas"]}
dict1

{'family_members': ['jayasri',
  'mounika',
  'prasad',
  'janardhna rao',
  'lakshmi',
  'rajini',
  'basavaiah',
  'rakesh',
  'rajasekhar',
  'srinivas']}

In [20]:
# Create a dict with your family members and relations(at least 10 names and relations)?
# Expected output: { "family_members" : your family member details , "relations": your relation with your family member}
# write a program to print your father name?
# write a program to print your favorite family member name?

In [21]:
dict2={"family_members":["jayasri","mounika","prasad","janardhna rao","lakshmi","rajini","basavaiah","rakesh","rajasekhar","srinivas"],"relations":["my self","sister","brother","father","mother","sister in law","grand father","brother","brother","brother"]}
dict2

{'family_members': ['jayasri',
  'mounika',
  'prasad',
  'janardhna rao',
  'lakshmi',
  'rajini',
  'basavaiah',
  'rakesh',
  'rajasekhar',
  'srinivas'],
 'relations': ['my self',
  'sister',
  'brother',
  'father',
  'mother',
  'sister in law',
  'grand father',
  'brother',
  'brother',
  'brother']}

In [22]:
fav_person=dict2["family_members"][-7]
print("favourite person:",fav_person)

favourite person: janardhna rao

In [23]:
fav_person=dict2["family_members"][-7]
print("father name:",fav_person)

father name: janardhna rao

In [24]:
# Create a your friend names and their quality(at least 10 names)?
# Expected output: {"friend_names" : your friend names, "quality" : your friend quality}
# Example output: {"friend_names": ["ravi","shekar", "abbas","jhonny"], "quality" : ["talk active", "anger", "intelligent", "funny"]}
# write a program to print your intelligent friend name?
# write a program to print your best friend name?

In [25]:
dictt={"friends_names":["ruchitha","geetha","hareesh","supraja","sai","lakshmi","divya","krupa","rajini","swarna"],"quality":["spititcual","innocent","silent killer","intelligent","anger","silent","funny","brave girl","joy","comedian"]}
dictt

{'friends_names': ['ruchitha',
  'geetha',
  'hareesh',
  'supraja',
  'sai',
  'lakshmi',
  'divya',
  'krupa',
  'rajini',
  'swarna'],
 'quality': ['spititcual',
  'innocent',
  'silent killer',
  'intelligent',
  'anger',
  'silent',
  'funny',
  'brave girl',
  'joy',
  'comedian']}

In [26]:
intelligent=dictt['friends_names'][-7]
print("intelligent friend:",intelligent)

intelligent friend: supraja

In [27]:
best=dictt['friends_names'][-7]
print("best friend:",best)

best friend: supraja

In [28]:
# Create a your favorite food names and your rating(at least 10 names)?
# Expected output: {"veg_items" : food names, "rating" : your rating}
# {"nonveg_items" : food names, "rating" : your rating}
# write a program to print your rating 1 food name?

In [29]:
dictt4={"non_veg_items":["chicken","fish","egg","egg fride rice","chicken fride rice:","egg fride rice","chicken manchuriya","egg manchuriya"],"veg_items":["potato","ladies finger","brinjal","carrot","onions","cabage","califlower","bitter guared"],"rating":[1,2,3,4,5,6,7,8]}
dictt4

{'non_veg_items': ['chicken',
  'fish',
  'egg',
  'egg fride rice',
  'chicken fride rice:',
  'egg fride rice',
  'chicken manchuriya',
  'egg manchuriya'],
 'veg_items': ['potato',
  'ladies finger',
  'brinjal',
  'carrot',
  'onions',
  'cabage',
  'califlower',
  'bitter guared'],
 'rating': [1, 2, 3, 4, 5, 6, 7, 8]}

In [30]:
dictt4['veg_items'][-8]

'potato'

In [31]:
# Create a your favorite destination(cities) names and your rating(at least 10 names)?
# Expected output: {"destination" : cities name, "rating" : your rating}

In [32]:
dictt5={"favourite_destination":["delhi","araku","vijayawada","simla","vizag","ootii","kodaikenal","manalii"],"ratings":[7,2,3,4,8,5,6,1]}
dictt5

{'favourite_destination': ['delhi',
  'araku',
  'vijayawada',
  'simla',
  'vizag',
  'ootii',
  'kodaikenal',
  'manalii'],
 'ratings': [7, 2, 3, 4, 8, 5, 6, 1]}

In [33]:
dictt5['favourite_destination'][0:3],['ratings'][0]

(['delhi', 'araku', 'vijayawada'], 'ratings')

In [34]:
#----------Assignment 5B--------------

In [35]:
#-----------------Assignment 6 a -------------------------

In [36]:
#  Create a list(friend_names) with your friends names(atleaste 10 names)?
# print all names with in loop 
# Expected Output: my friend name is "ravi"
# 		     my friend name is "shanker"

In [37]:
friends_names=["ruchitha","geetha","hareesh","supraja","sai","lakshmi","divya","krupa","rajini","swarna"]
friends_names

['ruchitha',
 'geetha',
 'hareesh',
 'supraja',
 'sai',
 'lakshmi',
 'divya',
 'krupa',
 'rajini',
 'swarna']

In [38]:
for i in friends_names:
    print("my friend name is:",i)

my friend name is: ruchitha
my friend name is: geetha
my friend name is: hareesh
my friend name is: supraja
my friend name is: sai
my friend name is: lakshmi
my friend name is: divya
my friend name is: krupa
my friend name is: rajini
my friend name is: swarna

In [39]:
# 7. Create a list(family_members) with your family members names(atleaste 10 names)?
# print all names with in loop

In [40]:
family_members=("Janardhnarao","Lakshmi","Mounika","Jayasri","Devivaraprasad","Rajasekhar","Balakrishna","Rakesh","Rangamma","Bhanu")
family_members

('Janardhnarao',
 'Lakshmi',
 'Mounika',
 'Jayasri',
 'Devivaraprasad',
 'Rajasekhar',
 'Balakrishna',
 'Rakesh',
 'Rangamma',
 'Bhanu')

In [41]:
for p in family_members:
    print("My family member:",p)

My family member: Janardhnarao
My family member: Lakshmi
My family member: Mounika
My family member: Jayasri
My family member: Devivaraprasad
My family member: Rajasekhar
My family member: Balakrishna
My family member: Rakesh
My family member: Rangamma
My family member: Bhanu

In [42]:
# 8. Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
# print all names with in loop

In [43]:
food_names=["chicken","fish","egg","egg fride rice","chicken fride rice:","egg fride rice","chicken manchuriya","egg manchuriya"]
food_names

['chicken',
 'fish',
 'egg',
 'egg fride rice',
 'chicken fride rice:',
 'egg fride rice',
 'chicken manchuriya',
 'egg manchuriya']

In [44]:
for q in food_names:
    print("Food names:",q)

Food names: chicken
Food names: fish
Food names: egg
Food names: egg fride rice
Food names: chicken fride rice:
Food names: egg fride rice
Food names: chicken manchuriya
Food names: egg manchuriya

In [45]:

# 9. Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
# print all names with in loop

In [46]:
food_names_tuple=("chicken","fish","egg","egg fride rice","chicken fride rice:","egg fride rice","chicken manchuriya","egg manchuriya")
food_names_tuple

('chicken',
 'fish',
 'egg',
 'egg fride rice',
 'chicken fride rice:',
 'egg fride rice',
 'chicken manchuriya',
 'egg manchuriya')

In [47]:
for t in food_names_tuple:
    print("food name",t)

food name chicken
food name fish
food name egg
food name egg fride rice
food name chicken fride rice:
food name egg fride rice
food name chicken manchuriya
food name egg manchuriya

In [48]:
# 10. Create a set(colour_names) with your colour names(atleaste 10 names)?
# print all names with in loop

In [49]:
colour_set={"red","blue","green","yellow","red","black","brown","skyblue","pink","white","orange","white"}
colour_set

{'black',
 'blue',
 'brown',
 'green',
 'orange',
 'pink',
 'red',
 'skyblue',
 'white',
 'yellow'}

In [50]:
for r in colour_set:
    print("colour names:",r)

colour names: orange
colour names: white
colour names: red
colour names: blue
colour names: pink
colour names: brown
colour names: yellow
colour names: skyblue
colour names: black
colour names: green

In [51]:

# 11. Create a list(month_names) with your month names(atleaste 10 names)?
# print all names with in loop 

month_names=["january","february","march","april","may","june","july","august","september","octomber","november","december"]
month_names

['january',
 'february',
 'march',
 'april',
 'may',
 'june',
 'july',
 'august',
 'september',
 'octomber',
 'november',
 'december']

In [52]:
for month in month_names:
    print("month names:",month)

month names: january
month names: february
month names: march
month names: april
month names: may
month names: june
month names: july
month names: august
month names: september
month names: octomber
month names: november
month names: december

In [53]:
# 12. print 9th table (1 to 90)

In [54]:
for j in range(9,90,9):
    print(j)

9
18
27
36
45
54
63
72
81

In [55]:
# 13. print(12th table (1 to 120)

In [56]:
for h in range(12,120,12):
    print(h)

12
24
36
48
60
72
84
96
108

In [57]:
#----------------Assignment 7 -------------------------

In [59]:
# def credit_offer(salary,credit_limit):
#     if salary<10000:
#         credit_limit=salary*10
#     elif salary>=10000 and salary<=30000:
#         credit_limit=salary*20
#     elif salary>30000:
#         credit_limit=salary*30
#     else:
#         print("no limits")
#     return credit_limit

In [60]:
credit_offer(40000,10)

1200000

In [61]:
 
#  Scenario2:
#  DMart discount offer. 
#  if your purchase amount is less than 20000. discount is 20%.
# if your purchase amount is 20000 to 40000. discount is 30%. 
# if your purchase amount is more than 50000. discount is 40%.

# DMart తగ్గింపు ఆఫర్. మీ కొనుగోలు మొత్తం 20000 కంటే తక్కువ ఉంటే. తగ్గింపు 20%.
# మీ కొనుగోలు మొత్తం 20000 నుండి 40000 వరకు ఉంటే. తగ్గింపు 30%. 
# మీ కొనుగోలు మొత్తం 50000 కంటే ఎక్కువ ఉంటే. తగ్గింపు 40%.

In [62]:
# def dmart(purchase_amount):
#     if purchase_amount<=20000:
#         blance=purchase_amount*0.2
#     elif purchase_amount>=20000 and purchase_amount>=40000:
#          blance=purchase_amount*0.3
#     elif purchase_amount>=50000:
#         blance=purchase_amount*0.4
#         return blance

In [63]:
dmart(20000)

In [64]:
dmart(50001)

In [65]:
dmart(18000)

In [66]:
# def dmarts(purchase_amount):
#     if purchase_amount<20000:
#         blance=purchase_amount*0.2
#     else:
#         balance=0

In [67]:
dmarts(10000)

In [68]:
dmart(5000)

In [69]:
dmart(30000)

In [70]:
dmart(70000)

In [71]:
dmart(20000)

In [72]:

# Scenario3:
# Amazom online offer. 
# if product is electoric type then 20% discount. 
# if product is cloth type then 30% discount. 
# if product is footware then 40% discount.
# Amazom ఆన్‌లైన్ ఆఫర్.
#  ఉత్పత్తి ఎలక్టోరిక్ రకం అయితే 20% తగ్గింపు. 
#  ఉత్పత్తి వస్త్రం రకం అయితే 30% తగ్గింపు. 
#  ఉత్పత్తి ఫుట్‌వేర్ అయితే 40% తగ్గింపు.

In [170]:
def Amazon(product_type):
    if product_type=="Electronic":
        discount=0.2
    elif product_type=="cloth":
        discount=0.3
    elif product_type=="Footware":
        discount=0.4
    return discount

In [172]:
Amazon("cloth")

0.3

In [176]:
Amazon("Footware")

0.4

In [174]:
Amazon("Electronic")

0.2